
.container-fluid {
    align-content: center
}
.card-img-top {
      display: block;
      max-width:789px;
      
      width: auto;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
.card {
    border-width: 1px;
    border-color: black;
}

.ronQuotes {
    display: block;
    text-align: center;
    font-family: cursive;
    font-size: large;
    color: navy;
    font-weight: bold;
}

.btn-info:hover {
    background-color: #2196f3;
    
    border-color: darkorange;
    border-width: 1px;
}
.btn-info {
    background-color: #2196f3;
    margin:0 auto;
    display:block;
}
.btn-info:focus {
    background-color: #2196f3;
}
.btn-info:active {
    background-color: #2196f3;
}

.loaderLeft {
    display: none;
      margin-left: auto;
      margin-right: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loaderRight {
    display: none;
    margin-left: auto;
    margin-right: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid red;
       width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.modal-dialog {
    width: 90%;
    margin: 5%;
}

.signs {
    text-align: center;

}

.alert-warning {
    margin:0 auto;
  display:block;

    color: black;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
}

#rightBar {
    background-color: red;
    color: white;
    text-align: right;
    font-size: x-large;
    font-weight: bold;
}

#leftBar {
    background-color: blue;
    color: white;
    font-size: x-large;
    font-weight: bold;
}


.footer {
    position: fixed;
    bottom: 0;
    left: -15px;
    width: 110%;
    height: 80px;
    color: white;
    background-color: #2196f3;

}

.footer > .container > p {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    padding-bottom: 5px;
    /* padding-left: 10px; */
    margin: 0;
    font-weight: 800;
    background: #0c7cd5;
}